html{
	background-color: #f1f1f1;
}
// 首页雪碧图
.index-icon{
	background:url(../images/sprite/index-icon.png) no-repeat;
}
.banner{
	height:320px;
	overflow: hidden;
}
.cp-bx-border{
	background-color:#fff;
	border-radius:10px;
	border-bottom:2px solid #ddd;
}
.site-announce{
	overflow: hidden;
	border-top-left-radius:0;
	border-top-right-radius:0;
	height:56px;
	h6{
		font-weight:normal;
		float: left;
		margin: 20px 0 0 0;
		padding: 0 24px;
		border-right:1px solid #ddd;
	}
	.announce-wrap{
		float: left;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		width: 960px;
		margin-top: 14px;
		li{
			margin:0 26px;
			a{
				&:hover{
					color: #2c97f4;
					text-decoration: underline;
				}
			}
			span{
				float: right;
			}
		}
	}
}
.btn-more{
		float: right;
		min-width: 70px;
		height: 30px;
		border: 1px solid #ddd;
		text-align: center;
		line-height: 30px;
		border-radius:16px;
		&:hover{
			border-color:#2c97f4;
			color: #2c97f4;
		}
		&.announce-more{
			margin-right: 26px;
			margin-top: 12px;
			font-size:12px;
		}
	}
// 信用宝介绍
.xyb-intro{
	padding:20px 30px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	.text-intro{
		width: 380px;
		float: left;
		dt{
			font-size: 24px;
		}
		dd{
			padding-top: 10px;
			line-height: 2;
			font-size: 12px;
			color: #ababab;
			a{
				color: #2c97f4;
				text-decoration:underline;
			}
		}
	}
	.feature-list{
		float: left;
		margin-left:40px;

		li{
			float: left;
			min-width: 230px;
			&:first-child{
			min-width: 250px;
			}
			dl{
				padding-left: 20px;
				padding-top: 20px;
			}
			dt{
				width: 72px;
				height: 72px;
				float: left;
				margin-right: 20px;
				&.icon-fico{
					background-position: -74px 0;
				}
				&.icon-msyh{
					background-position:-148px 0;
				}
			}
			dd{
				&.title{
					font-size: 16px;
					font-weight: bold;
					padding-top: 10px;
				}
				padding-bottom: 8px;
			}
		}
	}
	.site-sum{
		position:absolute;
		width: 47px;
		height: 47px;
		top: 0;
		right:0;
		background-position:-222px 0;
	}
}
.index-title{
	padding:30px 0;
	b{
		font-size: 24px;
		font-weight: normal;
		padding-right: 10px;
	}
}
// 理财产品列表
.index-invest-box{
	overflow: hidden;
	.header-left{
		float: left;
		text-align: center;
		width: 88px;
		font-size: 28px;
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
		color: #fff;
		background-color:#2c97f4;
		line-height: 1.6;
		font-weight: bold;
	}
	.invest-right{
		float: left;
		width: 1054px;
		margin-left: 34px;
		margin-top: 18px;
	}
	.header-top{
		padding-bottom: 16px;
		border-bottom:1px solid #ddd;
		.tag-list{
			span{
				display: inline-block;
				margin-right: 2px;
				padding:5px 10px;
				color: #2c97f4;
				border:1px solid #2c97f4;
				border-radius:5px;
			}
		}
		.more-program{
			p{
				float: left;
				font-size: 16px;
				padding-right: 20px;
				padding-top: 2px;
			}
			.btn-more{
				width: 100px;
				margin-top: -5px;
			}
		}
	}
	.index-invest-table{
		.figure{
			td{
				padding:24px 0 5px 24px;
				&:last-child{
					padding-left: 45px;
				}
				.ui-btn{
					font-size: 24px;
					padding:14px 0;
					margin-top: 8px;
					min-width:214px;
				}
				&.invest-rate{
					font-size: 32px;
					font-weight: bold;
					color: #2c97f4;
				}
				&.invest-period{
					font-size: 32px;
					font-weight: bold;
					text-align: center;
				}
				&.invest-amount{
					font-size: 32px;
				}
				.hack-p{
					font: normal 14px/1.2 '微软雅黑';
					color: #ababab;
				}
				.hack-p-bold{
					font-size: 32px;
					padding-top: 5px;
				}
			}
		}
		.ui-font-gray{
			td{
				padding-left: 24px;
			}
		}
	}
	&.index-invest-zzy{
		margin-bottom: 10px;
		.header-left{
			height: 160px;
			padding-top: 20px;
		}
	}
	&.index-invest-bbg{
		.header-left{
			background-color: #f15f8f;
		}
		.invest-right{
			.figure{
				td{
					position:relative;
					.f{
						position:absolute;
						width: 56px;
						text-align: center;
						height: 20px;
						line-height: 20px;
						text-align: center;
						font-size: 12px;
						font-family: "微软雅黑";
						color: #fff;
						background-color: #2e97f3;
						border-radius:10px;
					}
				}
			}
		}
	}
	&.index-invest-hqb{
		.header-left{
			height: 170px;
			background-color: #8ec31f;
			padding-top: 30px;
		}
	}
	&.index-invest-dqb{
		.header-left{
			height: 160px;
			background-color: #f5992d;
			padding-top: 20px;
		}
	}
	&.index-invest-xtb{
		.header-left{
			height: 260px;
			background-color: #64b5d3;
			padding-top: 95px;
		}
		.invest-right{
			height: 334px;
			overflow: hidden;
		}
	}
}
// 通用投资列表
.invest-list-table{
	width:100%;
	th{
		color: #ababab;
		font-weight: normal;
		padding-left: 16px;
		line-height: 46px;

	}
	td{
		text-align: center;
		padding-left: 16px;
		font-size: 18px;
		border-top:1px solid #ddd;
		line-height: 80px;
		&:first-child{
			text-align: left;
		}
		&.rate{
			color: #2c97f4;
		}
		.credit-level {
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			font-size: 16px;
			border-radius: 50%;
			text-align: center;
			margin: 0 auto;
		}
		.ui-btn{
			padding:10px 0;
			min-width: 214px;
		}
	}
}
// 倒计时
.start-time{
	padding-top: 5px;
}
.icon-clock{
	display:inline-block;
	width:16px;
	height:16px;
	background-position:-271px 0;
	position:relative;
	top:3px;
	margin-right: 5px;
	margin-left: 5px;
}
#countdown {
    height: 16px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 4px;
}

#countdown .dash {
    float: left;
    position: relative
}

#countdown .dash .digit {
    float: left;
    position: relative
}
// 用户心声
.heartfelt-wishes{
	position:relative;
	padding-top: 30px;
	border-radius:5px;
	.heartfelt-wishes-tab {
		margin: 0 30px;
		border-bottom: 2px solid #ddd;
		a{
			float: left;
			font-size: 16px;
			display: inline-block;
			padding: 0 12px 16px;
			color: #474747;
			border-bottom: 2px solid #dddddd;
			margin-bottom: -2px;
			&:hover,&.active{
				 color: #2c97f4;
    			 border-bottom: 2px solid #2c97f4
			}
		}
	}
}
.heartfelt-wishes-list-box{
	margin:0 30px;
	li{
		padding:20px 0;
		border-top:1px dashed #dddddd;
		&:first-child{
			border-top:0;
		}
	}
	.le{
		float:left;
		text-align:center;
		width:100px;
		img{
			border-radius:50%;
		}
		div{
			position:relative;
			height:74px;
		}
		.img-cover{
			position:absolute;
			top:0;
			left:13px;
			width:74px;
			height:74px;
			background:url(../images/newHeader2.png) no-repeat;
		}
	}
	.ri{
		width:1000px;
		float:right;
		margin-right:10px;
		font-size:14px;
		line-height:26px;
		border-radius:3px;
		.img-text{
			font-weight: bold;
		}
	}
}
.self-wishes-list-box{
	display:none;
	height:428px;
	.self-wishes-list-ul{
		margin:0 30px;
	}
	.self-wishes-list-li{
		height:58px;
		border-bottom:1px dashed #dddddd;
		span{
			float:left;
			display: block;
			height:58px;
		}
	}
	.self-wishes-list-style{
		width:58px;
		padding:0 10px;
		i{
			margin-top: 20px;
			display: block;
			width:58px;
			text-align:center;
			height:20px;
			line-height:20px;
			font-size:12px;
			border-radius:3px;
			&.pass{
				border:1px solid #2a97f4;
				color:#2a97f4;
			}
			&.error{
				border:1px solid #fc8378;
				color:#fc8378;
			}
			&.examine{
				border:1px solid #74ca99;
				color:#74ca99;
			}
		}
	}
	.self-wishes-list-text{
		padding-right:40px;
		width:880px;
		line-height:58px;
		overflow: hidden;
		white-space:nowrap;
		text-overflow:ellipsis
	}
	.self-wishes-list-date{
		line-height:58px;
		color:#c3c3c3;
	}
	#page .pageholder{
		padding: 24px 0 0;
	}
	.self-wishes-empty{
		padding-top:90px;
		text-align:center;
	}
	.self-wishes-empty-text{
		color:#b9b9b9;
		font-size:14px;
		padding-top:26px;
	}
}
.ui-icon-triangle-red-bottom{
	position:absolute;
	height:4px;
	width:8px;
	background: url(../images/sprite/triangle-red-bottom.png) no-repeat;
}
.heartfelt-wishes-input{
	position:absolute;
	bottom:0px;
	left:-5px;
	height:64px;
	width:1210px;
	background:url(../images/heartfelt-wishes-input-bg.png) no-repeat top;
	div{
		margin-top:5px;
		height:47px;
		width:1210px;
		background:#474e5d;
		padding-top:12px;
	}
	input{
		margin-left: 30px;
		float: left;
		width:972px;
		height:34px;
		border-radius:3px;
		border:0;
		line-height: 34px;
		padding-left: 14px;
		padding-right: 14px;
	}
	a{
		float: right;
		height:22px;
		line-height: 22px;
		width:118px;
		margin-right:30px;
	}
	.tips{
		display: none;
		top: -17px;
		right: 182px;
		position:absolute;
		color: #fff;
		font-size:12px;
		padding:6px 9px;
		background:#fc8478;
		border-radius:3px;
		i{
			position:absolute;
			bottom:-4px;
			left:50%;
			margin-left:-4px;
		}
	}
}
#reviews{
	overflow: hidden;
	height:428px;
}
.more-report{
	font-size: 16px;
	padding:4px 30px;
	border-radius:20px;
}
// 媒体报道
.media-report-box{
	padding:40px 20px 40px;
	margin-top: 10px;
	ul{
		overflow: hidden;
		li{
			float: left;
			width: 33.33%;
			text-align: center;
			.news-img{
				padding-bottom: 26px;
			}
			.title{
				font-weight: bold;
				color: #000;
				a{
					&:hover{
						color: #2c97f4;
						text-decoration: underline;
					}
				}
			}
			dd{
				p{
					text-align: left;
					line-height: 2;
					color: #ababab;
					padding:10px 50px;
					a{
						color: #2c97f4;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
// 集团公司
.group-cop{
	padding:36px 0;
	ul{
		overflow: hidden;
		li{
			float: left;
			padding:30px 40px;
		}
	}
	p{
		text-align: center;
		a{
			color: #2c97f4;
		}
	}
	.icon-location{
		display: inline-block;
		width: 12px;
		height: 15px;
		background-position:-271px -26px;
		position:relative;
		top: 3px;
		margin-right: 5px;
	}
}
// 支付合作伙伴
.pay-cooper{
	margin-top: 24px;
	.head{
		font-size: 18px;
		padding-top: 40px;
	}
	.pay-cooper-list{
		overflow: hidden;
		li{
			float: left;
			min-width: 240px;
			padding:40px 0;
			margin-left: 70px;
			&:first-child{
				margin-left: 30px;
			}
			dl{
				.index-pay-img{
					width: 72px;
					height: 72px;
					float: left;
					background:url(../images/sprite/pay-corp.png) no-repeat;
					&.img-union-pay{
						background-position:-222px 0;
					}
					&.img-ping-pay{
						background-position:-74px 0;
					}
					&.img-sina-pay{
						background-position:-148px 0;
					}
					margin-right: 20px;
				}
				dd{
					padding-top: 10px;
					// a{
					// 	color: #ababab;
					// 	font-size: 12px;
					// 	&:hover{
					// 		color: #2c97f4;
					// 		text-decoration: underline;
					// 	}
					// }
				}
				.title{
					font-size: 18px;
					font-weight: bold;
					padding-top: 24px;
				}
			}
		}
	}
}
